{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="home active section" id="home">
    <div class="container">
        <div class="row">
            <div class="home-info padd-15">
                <h3 class="hello">Hello, My name is <span class="name">Ankit Kumar</span></h3>
                <h3 class="my-profession">I'm a <span class="typing">""</span></h3>
                <p>I'm a fresh graduate super excited about web development, both the front and back ends. I'm all about diving into cool web framework like django and restAPI,Now,
                    i am Proficient in Html ,Css ,JavaScript ,ReactJS ,BootStrap and python/django.
                </p>
                <a href="https://drive.google.com/file/d/1AivpDAyBYU3Wa4aVP1NxsEFD3-I9I21j/view?usp=sharing" class="btn">Download CV</a>
            </div>
            <div class="home-img padd-15">
                <img src="{% static 'img/profile1.jpg' %}" alt="Profile Image">
            </div>
        </div>
    </div>
</section>
{% endblock %}
