{% extends "base.html" %}
{% load static %}

{% block title %}Skills | Ankit Kumar{% endblock %}

{% block content %}
<section class="service active section" id="services">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2>Skills</h2>
            </div>
        </div>
        <div class="row">
            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon"><i class="fa fa-code"></i></div>
                    <h4>Coding</h4>
                    <p>Proficient in Python, with an understanding of data structures and algorithms. Intermediate knowledge of c/c++.</p>
                </div>
            </div>

            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon"><i class="fa fa-laptop"></i></div>
                    <h4>Web Development</h4>
                    <p>Equipped with a solid foundation in both front-end and back-end web development, ready to create responsive and interactive websites.</p>
                </div>
            </div>

            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon"><i class="fa fa-palette"></i></div>
                    <h4>UI/UX Design</h4>
                    <p>Adept at creating user-friendly interfaces and designs, utilizing my knowledge of HTML, CSS, and JavaScript.</p>
                </div>
            </div>

            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon"><i class="fa fa-database"></i></div>
                    <h4>Database</h4>
                    <p>I know MySQL and Postgre, with a strong understanding of relational database management systems and expertise in SQL.</p>
                </div>
            </div>

            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon"><i class="fa fa-tools"></i></div>
                    <h4>Tools</h4>
                    <p>I am familiar with Git, GitHub, and VS Code.</p>
                </div>
            </div>

            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon"><i class="fa fa-camera"></i></div>
                    <h4>Photography</h4>
                    <p>A passionate photographer with a comprehensive understanding of various photography techniques and styles.</p>
                </div>
            </div>

            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon"><i class="fa fa-video"></i></div>
                    <h4>video Editing</h4>
                    <p>Expert in creating short videos through editing. Proficient in Adobe Premiere Pro, CapCut, and VN Video Editor. Strong understanding of storytelling, transitions, audio syncing, and visual effects, with experience in color correction and sound design.</p>
                </div>
            </div>

            <div class="service-item padd-15">
                <div class="service-item-inner">
                    <div class="icon"><i class="fa fa-brain"></i></div>
                    <h4>Machine Learning/AI</h4>
                    <p>An enthusiastic learner in the field of Machine Learning and Artificial Intelligence, aiming to leverage these technologies to solve complex problems and create intelligent solutions.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
